EXPO_PUBLIC_API_URL=http://127.0.0.1:4000
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
# Reversed iOS client ID, for example com.googleusercontent.apps.123-abc
GOOGLE_IOS_URL_SCHEME=
